h2 {
	background-color: rgba(0, 255, 0, 0.3);
    text-align: center;
    padding: 10px;
}
a {
	color: blue ;
	text-decoration: none;
}
body {
	background-color: white; 
}
h1 {
    background-color: red;
    text-align: center;
    padding: 20px;
}
body {font-family: 'Reem Kufi', sans-serif;
}
h4 {
  
  
	text-align: center ;
	  
  }
	