h2 {
	background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}
a {
	color: #43557F;
	text-decoration: none;
}
body {
	background-color: rgba(134, 169, 255, 0.20); 
}
h1 {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}